RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{HTTPS} =off
RewriteCond %{REQUEST_URI} (vendor|login)
RewriteRule ^(.*)$ https://beta.superdealyo.com%{REQUEST_URI}

